<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Lets see whether homebrewing will save you money.</h1>
    <form action="." method="POST">
        <label for="beers_per_week">How many beers do you drink per week?</label>
        <input type="number" name="beers_per_week">
        <label for="cost_per_beer">How much does each beer cost? (€)</label>
        <input type="number" name="cost_per_beer">
        <label for="cost_per_20l_homebrew">How much does 20L homebrew batch cost? (€)</label>
        <input type="number" name="cost_per_20l_homebrew">
        <input type="submit" name="calculate" value="Send">
    </form>
</body>

</html>
