<!DOCTYPE html>
<html lang="en">

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Brew Cash</h1>
            <p class="lead">How much money can you save by homebrewing?</p>
        </div>
    </div>
    <div class="container">
        <form action="{{ url_for('calculate') }}" method="POST">
            <div class="form-group">
                <label for="beers_per_week">How many beers do you drink per week?</label>
                <input class="form-control" type="number" name="beers_per_week">
                <label step="0.01" for="cost_per_beer">How much does each beer cost? (€)</label>
                <input class="form-control" type="number" name="cost_per_beer">
                <label for="cost_per_20l_homebrew">How much a does 20L homebrew batch cost? (€)</label>
                <input class="form-control" placeholder="For me it's 25" step="0.01" type="number" name="cost_per_20l_homebrew">
                <input class="m-t-2 form-control" type="submit" value="Send">
            </div>
        </form>
</body>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Built by <a href="http://focalise.ie">Focalise</a></span> //
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ tweet_text }}">
Tweet</a>
    </div>
    </div>
</footer>

</html>
